/* =============================================================== */
/* CONTACT
/* =============================================================== */

.intro-inner {
  width: 100%;
  clear: both;
  height: 250px;
  overflow: hidden;
}

.social-list {
  margin-top: 20px;
}

.social-list a {
  margin-right: 10px;
  display: inline-block;
}

.address p {
  margin-bottom: 0;
}