/* =============================================================== */
/* INTRO AND INTRO INNER
/* =============================================================== */

.home-page {
  .intro {
    width: 100%;
    background: url('/images/edu.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    transition: all 400ms cubic-bezier(0.25,0.1,0.25,1) 0s;
    -webkit-transition: all 400ms cubic-bezier(0.25,0.1,0.25,1) 0s;
  }

  .intro .container {
    max-width: 800px;
  }

  .intro h1,.intro-title {
    color: #fff;
    font-family: Roboto;
    font-size: 44px;
    font-weight: bold;
    letter-spacing: -0.3px;
    margin-bottom: 10px;
    padding-bottom: 0;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    text-transform: uppercase;
    transition: font 400ms cubic-bezier(0.25,0.1,0.25,1) 0s;
  }

  .intro p {
    color: #e8eced;
    font-size: 18px;
    font-weight: 300;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  }

  .intro h2 {
    color: #e8eced;
    font-size: 30px;
    margin-top:20px;
    font-weight: 300;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  }
}
