/*-------------------------------------------- */
/*--------------- Screen Size ---------------- */
/*-------------------------------------------- */
@media (max-width:1199px) {
  .item-list.make-compact .add-title,.item-list.make-compact .info-row {
    width: 100%;
  }

  .add-details {
    padding: 0;
  }
}

/*-------------------------------------------- */
/*--------------- iPad Landscape ------------- */
/*-------------------------------------------- */


@media (min-width:1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (max-width:991px) {
  .nav-tabs.add-tabs > li > a {
    padding-left: 10px;
    padding-right: 10px;
  }

  .nav-tabs .badge {
    font-size: 11px;
  }

  .page-bottom-info-content {
    max-width: 96%;
  }

  .list-title a {
    font-size: 16px;
  }

  .item-list .make-favorite {
    padding: 3px 5px;
  }

  .list-filter ul li a {
    padding-right: 0;
  }

  .list-filter ul ul {
    padding-left: 10px;
  }

  .item-list.make-grid {
    width: 33.33%;
  }

  .adds-wrapper .item-list.make-grid:nth-child(4n+4) {
    border-right: solid 1px #ddd;
  }

  .adds-wrapper .item-list.make-grid:nth-child(3n+3) {
    border-right: none;
  }

  .cornerRibbons {
    left: -10%;
    top: 19%;
    width: 170px;
    z-index: 2;
  }

  .cornerRibbons {
    font-size: 11px;
  }

  .item-list.make-compact .cornerRibbons {
    left: -20%;
  }
}

@media (max-width: 979px) {

  .intro {
    height: 300px;
    padding-bottom: 30px;
    padding-top: 30px;
  }

  h1 {
    font-size: 24px;
    line-height: 25px;
  }

  h2 {
    font-size: 20px;
    line-height: 24px;
  }

  h3 {
    font-size: 18px;
    line-height: 20px;
  }

  h4 {
    font-size: 16px;
    line-height: 18px;
  }

  .page-sidebar {
    padding: 0 5px;
  }

  .inner-box {
    padding: 20px 10px;
  }

  .user-panel-sidebar ul li a {
    padding: 5px 4px;
    font-size: 11px;
  }
}

/*-------------------------------------------- */
/*--------------- iPad Portrait ------------- */
/*-------------------------------------------- */

@media(max-width: 778px) {
  .item-list.make-grid {
    width: 33.33%;
  }
}


@media (min-width: 768px) {
 /* laptop nad pc ----------- */

  .btn-cat-collapsed {
    position: absolute;
    right: 0;
    text-indent: -9999px;
    opacity: 0;
  }

  .logo {
    height: 80px;
    line-height: normal;
  }

  .header {
    height: auto;
    background: #fff;
  }

  .navbar-site {
    margin-bottom: 0!important;
    height: auto;
    background: #fff;
    border-radius: 0;
    border-bottom: solid 1px #ddd;
  }

  .navbar-right {
    margin-top: 20px;
  }

  .navbar-nav>li>a {
    border-radius: 3px;
    box-sizing: border-box;
    color: #e74c3c;
    font-size: 14px;
    height: 40px;
    line-height: normal;
    padding: 12px 15px 12px 15px;
  }

  .nav>li.active,.nav>li>a:hover,.nav>li>a:focus,.nav>li:hover>a,.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>.open>a:focus {
    background: none;
	
  }

  .navbar-nav>li>a:hover {
    color: #000;
  }

  .navbar-nav>li.postadd {
    padding-left: 25px;
    margin-left: 5px;
    border-left: solid 1px #ddd;
  }

  .navbar-nav>li.postadd a {
    border-radius: 3px;
    box-sizing: border-box;
    color: #fff;
    font-size: 12px;
    height: 40px;
    line-height: normal;
    padding: 12px 35px;
    text-transform: uppercase;
    width: 170px;
  }

  li .user-menu {
    padding: 0;
    transition: all 0.2s linear 0s;
  }

  li.open .user-menu {
    padding: 0 0;
  }

  li .user-menu li a {
    font-size: 11px;
    letter-spacing: 0.55px;
    clear: both;
    display: block;
    font-weight: 400;
    line-height: 1.42857;
    padding: 10px 15px;
    text-transform: inherit;
    white-space: nowrap;
  }

  li .user-menu li i {
    margin-right: 5px;
    color: #999999;
    font-size: 120%;
    transition: all 0.2s linear 0s;
  }

  li .user-menu li:hover i {
    color: #2a3744;
  }

  li .dropdown-menu.user-menu>.active>a,.dropdown-menu.user-menu>.active>a:focus {
    background: #EEEEEE;
    font-weight: bold;
    color: #2a3744;
  }

  .navbar-nav .open>a,.navbar-nav .open>a:hover,.navbar-nav .open>a:focus {
    background: none;
  }
}

@media (max-width: 767px) {
  .navbar-site {
    background: none repeat scroll 0 0 #fff;
    border-radius: 0;
    height: auto;
    margin-bottom: 0!important;
    min-height: 80px;
  }

  .navbar-header {
    min-height: 80px;
    border-bottom: 1px solid #ddd;
  }

  .navbar-site .navbar-toggle {
    margin-top: 25px;
  }

  .locinput {
    border-right: none!important;
    border-bottom: solid 1px #ddd!important;
  }

  .intro h1 {
    font-size: 30px;
    margin-bottom: 10px;
    padding-bottom: 0;
    line-height: 34px;
  }

  .intro p {
    color: #e8eced;
    font-size: 16px;
    line-height: normal;
  }

  .cornerRibbons {
    left: -36px;
    top: 24px;
    width: 160px;
  }

  .item-list.make-grid .cornerRibbons {
    left: -36px;
    top: 24px;
  }

  .cornerRibbons {
    font-size: 11px;
  }

  .item-list.make-compact .cornerRibbons {
    left: -100px;
  }

  .nav-tabs.add-tabs > li > a {
    font-size: 12px;
    padding-left: 7px;
    padding-right: 7px;
  }

  .nav-tabs .badge {
    display: none;
  }

  .select-short-by .selecter-options {
    font-size: 11px !important;
  }

  .iconbox-wrap-icon {
    display: block;
    float: left;
    max-width: 80px;
  }

  .iconbox-wrap-content {
    display: block;
    float: left;
    padding-left: 10px;
    text-align: left;
    vertical-align: middle;
  }

  .intro {
    height: auto;
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .navbar-default .navbar-nav > li > a.btn-post {
    color: #fff;
  }

  h1 {
    font-size: 24px;
    line-height: 25px;
  }

  h2 {
    font-size: 20px;
    line-height: 24px;
  }

  h3 {
    font-size: 18px;
    line-height: 20px;
  }

  h4 {
    font-size: 16px;
    line-height: 18px;
  }

  .hidden-xs {
    display: none !important;
    visibility: hidden !important;
  }

  .text-center-xs {
    text-align: center;
  }

  .intro .col-sm-4 {
    margin-bottom: 15px;
  }

  .table-action {
    display: block;
    margin-bottom: 15px;
    padding: 15px 15px 0;
  }

  .search-row-wrapper .col-sm-3 {
    margin-bottom: 10px;
  }

  .cat-list {
    margin-bottom: 15px;
  }

  .cat-list ul {
    display: none;
  }

  .btn-cat-collapsed {
    position: absolute;
    right: 0;
    top: 10px;
    text-indent: 0;
    opacity: 1;
    cursor: pointer;
  }

  .xs-gap {
    margin-bottom: 15px;
  }

  .icon-down-open-big {
    display: inherit;
    -ms-transform: rotate(0deg);
 /* IE 9 */
    -webkit-transform: rotate(00deg);
 /* Chrome, Safari, Opera */
    transform: rotate(00deg);
    transition: all 0.3s ease-in;
  }

  .icon-down-open-big.active-panel {
    -ms-transform: rotate(90deg);
 /* IE 9 */
    -webkit-transform: rotate(90deg);
 /* Chrome, Safari, Opera */
    transform: rotate(90deg);
  }

  .footer ul {
    float: none;
    padding: 0;
    text-align: center;
    width: 100%;
  }

  .footer ul:last-child {
    margin-top: 20px;
  }

  .price-box {
    clear: both;
    display: block;
    height: auto;
    padding: 10px 15px 0;
    text-align: left;
    width: 100%;
  }

  .item-list.make-list {
    text-align: left;
  }

  .item-list .add-details {
    padding: 10px 0 0;
  }

  .item-list.make-compact .make-favorite {
    float: left;
    margin-left: 10px;
  }
}

/*-------------------------------------------- */
/*----------- iPad Min Landscape ------------- */
/*-------------------------------------------- */

@media (max-width:640px) {
  .ads-image .bx-wrapper {
    margin-bottom: 10px;
  }

  .thumb-item-link {
    height: 48px;
    width: 64px;
  }
}

/*-------------------------------------------- */
/*------------- iPad Min portrait------------- */
/*-------------------------------------------- */

@media (max-width: 580px) {
  .page-content .table-bordered {
    border-top: 1px solid #ddd;
  }

  .hdata {
    display: inline-block;
    margin-right: 4px;
    width: 80px;
  }

  .useradmin {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}


@media(max-width: 540px) {
  .item-list.make-grid {
    width: 50%;
    border-right: solid 1px #ddd !important;
  }

  .adds-wrapper .item-list.make-grid:nth-child(2n+2) {
    border-right: none !important;
  }
}


/*-------------------------------------------- */
/*--------- 5.5 Inch Mobile Phones------------- */
/*-------------------------------------------- */

@media(max-width:480px) {
  .pricetag {
    font-size: 18px;
    line-height: 28px;
    min-width: 90px;
    top: 140px;
  }

  .breadcrumb {
    float: none !important;
    text-align: center !important;
  }

  .backtolist {
    float: none !important;
    margin: 0 auto;
    padding: 0 0 10px;
    text-align: center;
  }

  .col-xxs-12 {
    width: 100%;
  }

  .col-xxs-6 {
    width: 50%;
  }

  .text-center-xxs {
    text-align: center;
  }

  .text-center-480 {
    text-align: center;
  }

  .userImg {
    width: 54px;
  }

  .table-action {
    text-align: center;
  }

  .table-search {
    margin-top: 10px;
    padding: 0;
    width: 100%;
  }

  .header-data {
    border-top: 1px solid #ddd;
    margin-top: 10px;
    padding-top: 10px;
  }

  .select-short-by .selecter-selected {
    font-size: 11px;
    padding: 4.5px 8px;
  }

  .tab-filter .select-short-by {
    margin-right: 10px;
    margin-top: 9px;
    min-width: 115px !important;
  }

  .tab-filter .selecter-selected:after {
    right: 4px;
  }

  .tab-filter .selecter-item {
    font-size: 11px;
    margin: 0;
    overflow: hidden;
    padding: 5px 10px;
  }
}

/*-------------------------------------------- */
/*--------- iPhones 5s, 5c, 4s --------------- */
/*-------------------------------------------- */

@media(max-width: 360px) {
  .item-list.make-grid {
    width: 100%;
    border-right: none;
  }

  .content-footer .btn {
    margin-bottom: 4px;
  }
}

@media (max-width: 320px) {
  .hdata i {
    border-radius: 50px;
    box-shadow: 0 0 1px #777 inset;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
  }

  .hdata {
    display: inline-block;
    margin-right: 2px;
    width: 70px;
  }

  .container, body, html {
    min-width: 300px;
  }
  
  .logo, .logo-title{
	width:260px;
}

 .navbar .container {
    padding-left: 5px;
  }
}

@media (max-width: 300px) {
  .container, body, html {
    width: 300px;
  }
}


