/* =============================================================== */
/* SIGNUP
/* =============================================================== */

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 10px;
}

.mb25 {
  margin-bottom: 10px;
}

.mb30 {
  margin-bottom: 10px;
}

.mb40 {
  margin-bottom: 10px;
}

.mb50 {
  margin-bottom: 10px;
}

.mb60 {
  margin-bottom: 10px;
}

.promo-text-box {
  padding: 15px 20px;
}

.promo-text-box h3 {
  margin-top: 10px;
  padding-bottom: 15px;
}

.icon-color-1 {
  color: #FF9113;
}

.icon-color-2 {
  color: #E6C840;
}

.icon-color-3 {
  color: #74C29B;
}
