<div class="about-us">
  <div class="intro">
      <div class="dtable hw100">
        <div class="dtable-cell hw100">
          <div class="container text-center">
            <h1 class="intro-title animated fadeInDown"> About Us </h1>
          </div>
        </div>
      </div>
  </div>

  <div class="main-container inner-page">
    <div class="container">
      <div class="section-content">
        <div class="row ">
          <h1 class="text-center title-1">About Us </h1>
          <hr class="center-block small text-hr">
          <div class="col-sm-6">
            <div class="text-content has-lead-para text-left">
              <p class="lead" align="justify">Gestalt IT Consultancy Pvt. Ltd. is working with public and private clients to transform the quality of global education, good governance and skills development. Everything we do is focused on making a tangible difference in the lives of learners, communities and nations, enabling students of all ages to be prepared to succeed in an increasingly competitive world.
              <p class="lead" align="justify"> We are specialized in Digital Business and Technology.
                <br>We provide IT services in below areas
                <br><ul type="square">
                  <li>Web development</li>
                  <li>E-Business solution</li>
                  <li>Application development</li>
                  <li>Social media branding</li>
                  <li>Corporate Training</li>
                </ul>
                <br>
              </p>
              <p class="lead" align="justify">We understand the customer needs and develop the quality products. Also provide comprehensive technical support after implementation the project and help clients to demonstrate their online presence using creative design, use of latest technologies, innovative ideas.  </p>
            </div>
          </div>
          <div class="col-sm-6">
            <img src="/images/info.png" alt="imfo" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="parallaxbox about-parallax-bottom">
    <div class="container">
      <div class="row text-center featuredbox">
        <div class="col-sm-4 xs-gap">
          <div class="inner">
            <div class="icon-box-wrap">
              <i class="icon-book-open ln-shadow-box shape-3"></i>
            </div>
            <h3 class="title-4">Customer service</h3>
            <p>Ein herausragendes Beispiel für Story-Telling im modernen Webdesign. et suscipit sapien posuere quis. Maecenas ut iaculis nunc, eget efficitur ipsum. Nam vitae hendrerit tortor.</p>
          </div>
        </div>
        <div class="col-sm-4 xs-gap">
          <div class="inner">
            <div class="icon-box-wrap">
              <i class=" icon-lightbulb ln-shadow-box shape-6"></i>
            </div>
            <h3 class="title-4">Seller satisfaction</h3>
            <p>Ein herausragendes Beispiel für Story-Telling im modernen Webdesign. et suscipit sapien posuere quis. Maecenas ut iaculis nunc, eget efficitur ipsum. Nam vitae hendrerit tortor. .</p>
          </div>
        </div>
        <div class="col-sm-4 xs-gap">
          <div class="inner">
            <div class="icon-box-wrap">
              <i class="icon-megaphone ln-shadow-box shape-5"></i>
            </div>
            <h3 class="title-4">Best Offers </h3>
            <p>Ein herausragendes Beispiel für Story-Telling im modernen Webdesign. et suscipit sapien posuere quis. Maecenas ut iaculis nunc, eget efficitur ipsum. Nam vitae hendrerit tortor. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
