<div class="about-us">
  <div class="intro">
      <div class="dtable hw100">
        <div class="dtable-cell hw100">
          <div class="container text-center">
            <h1 class="intro-title animated fadeInDown"> Advertise With Us </h1>
          </div>
        </div>
      </div>
  </div>
   <div class="main-container inner-page">
    <div class="container">
      <div class="section-content">
        <div class="row ">
          <h1 class="text-center title-1">Advertise with us</h1>
          <hr class="center-block small text-hr">
          <div class="col-sm-6">
            <div class="text-content has-lead-para text-left">

              <p>Your Organization can associate with us publishing an advertise on following pages</p>
        <ul>
              <li>
                 <strong>Home Page</strong>– Slides (Generic   advertise which every user can see. 
              </li>
            <li>
               <strong>Composite Score</strong> page
            </li>
        <li>
          <strong>Filter page</strong>  - Engineering First year /Direct Second  year / Polytechnic    (District wise)</li>
        <li>
          <strong>Result Page</strong>- Engineering First year /Direct Second  year / Polytechnic    (District wise)</li>
        <li><strong>About Us / Contact Us</strong> Page -(Generic /Specific Dist)</li>
        <li>
          Generic   which can see without login (Slides and General advertise)<br>
          Specific  after login district wise (Slides  and General  advertise)
        </li>
        <li>
          <a href="whatsapp://send?text=Hey%20there%2C%20use%20http%3A%2F%2Fwww.cutoffsearch.com%20to%20find%20last%20year%20engineering%20cutoff.">Share on what's app!</a>
        </li>
      </ul>
      
        Contact : <br><span class="glyphicon glyphicon-phone">9552279841</span> <br>

                  <span class="glyphicon glyphicon-phone-alt">020-66200720</span>
         </div>
        </div>
      <div>
    </div>
  </div>
</div>