<div class="college-search">
  <div class="intro">
    <div class="dtable hw100">
      <div class="dtable-cell hw100">
        <div class="container text-center">

          <p class="sub animateme fittext3 animated fadeIn">Explore colleges in Maharashtra to redefine your career</p>
          <div class="row search-row animated fadeInUp">
            <div class="col-lg-3 col-sm-3 search-col relative locationicon">
              <i class="icon-location-2 icon-append"></i>
              <input type="text" name="country" id="autocomplete-ajax" class="form-control locinput input-rel searchtag-input has-icon" placeholder="City..." value="">
            </div>
            <div class="col-lg-3 col-sm-3 search-col relative">
              <i class="icon-docs icon-append"></i>
              <input type="text" name="ads" id="autocomplete-ajax1" class="form-control locinput input-rel searchtag-input has-icon" placeholder="I'm looking Branches..." value="">
            </div>
            <div class="col-lg-3 col-sm-3 search-col relative">
              <i class="icon-docs icon-append"></i>

              <select class="form-control selecter  has-icon">

                <option>Poly</option>
                <option>BE-BTech</option>
                <option>ME-MTech</option>
                <option>MBA</option>
                <option>MCA</option>
                <option>B.Pharmsy</option>
              </select>
            </div>
            <div class="col-lg-3 col-sm-3 search-col">
              <button class="btn btn-primary btn-search btn-block">
                <i class="fa fa-search"></i>
                <strong>Find</strong>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-container">




    <div class="container">
      <div class="row">
        <div class="col-sm-3 page-sidebar">
          <aside>

            <div class="inner-box no-padding">
              <div class="inner-box-content">
                <a href="#">
                  <img alt="tv" src="images/site/add1.gif" class="img-responsive">
                </a>
              </div>
            </div>

            <div class="inner-box no-padding">
              <div class="inner-box-content">
                <a href="#">
                  <img alt="" src="images/add2.jpg" class="img-responsive">
                </a>
              </div>
            </div>

            <div class="inner-box">
              <h2>Events </h2>

              <div class="color-border"></div>
              <div class="inner-box-content">
                <ul class="cat-list arrow">
                  <li>
                    <a href="sub-category-sub-location.html"> Apparel (1,386) </a>
                  </li>
                  <li>
                    <a href="sub-category-sub-location.html"> Art (1,163) </a>
                  </li>
                  <li>
                    <a href="sub-category-sub-location.html"> Business Opportunities (4,974) </a>
                  </li>
                  <li>
                    <a href="sub-category-sub-location.html"> Community and Events (1,258) </a>
                  </li>
                  <li>
                    <a href="sub-category-sub-location.html"> Jobs and Employment (3,609) </a>
                  </li>
                  <li>
                    <a href="sub-category-sub-location.html"> Art (1,163) </a>
                  </li>
                </ul>
              </div>
            </div>
          </aside>
        </div>
        <div class="col-sm-9 page-content">
          <h2>
            <i class="fa fa-search fa-1x"></i> Search results {{collegeList.length}}
        </h2>

          <div class="color-border"></div>

          <div class="inner-box" ng-repeat="college in collegeList">
            <div class="row">

              <div class="col-sm-12">
                <div class="adds-wrapper">
                  <div class="item-list">
                    <div class="col-sm-3 no-padding photobox">
                      <div class="add-image">
                        <!-- <span class="photo-count">
                          <i class="fa fa-camera"></i> 2
                        </span> -->
                        <a ui-sref="college-detail">
                          <img class="thumbnail no-margin" src="images/college/tp/coep.jpg" alt="img">
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-9 add-desc-box">


                      <div class="ads-details">
                        <h5 class="add-title">
                        <a ui-sref="college-detail({collegeId: college.collegeId})">
                          {{college.collegeName}}
                        </a>
                      </h5>

                        <span class="info-row">
                        <p>
                          <i class="fa fa-commenting"></i> {{college.email}}
                        </p>
                        <p>
                          <i class="fa fa-map-marker"></i> {{college.address}}
                        </p>
                        <p>
                          <i class="fa fa-university"></i> {{college.website}}
                        </p>


                      </span>


                      </div>

                    </div>
                  </div>

                </div>
              </div>
            </div>

           <!--<div class="row coverfooter">
              <div class="color-border"></div>
              <div class="col-sm-4 no-padding">
                <div class="iconbox-wrap">
                  <div class="iconbox">
                    <div class="iconbox-wrap-icon">
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="iconbox-wrap-content">
                      <h5><span>3</span> </h5>
                      <div class="iconbox-wrap-text">Total Stars</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 no-padding">
                <div class="iconbox-wrap">
                  <div class="iconbox">
                    <div class="iconbox-wrap-icon">
                      <i class="fa fa-globe"></i>
                    </div>
                    <div class="iconbox-wrap-content">
                      <h5><span>1987</span> </h5>
                      <div class="iconbox-wrap-text">Establishment</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 no-padding">
                <div class="iconbox-wrap">
                  <div class="iconbox">
                    <div class="iconbox-wrap-icon">
                      <i class="fa fa-eye"></i>
                    </div>
                    <div class="iconbox-wrap-content">
                      <h5><span>2000+</span> </h5>
                      <div class="iconbox-wrap-text">Total Views</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>-->
          <!-- <div class="pagination-bar text-right">
            <ul class="pagination">
              <li class="active"><a href="#">1</a>
              </li>
              <li><a href="#">2</a>
              </li>
              <li><a href="#">3</a>
              </li>
              <li><a href="#">4</a>
              </li>
              <li><a href="#">5</a>
              </li>
              <li><a href="#"> ...</a>
              </li>
              <li><a href="#" class="pagination-btn">Next »</a>
              </li>
            </ul>
          </div> -->

        </div>
      </div>
    </div>
  </div>
</div>
