<div class="college-detail">
  <div style="height:300px" class="intro">
    <div class="dtable hw100">
      <div class="dtable-cell hw100">
        <div class="container text-center" style="background-color: rgba(255, 255, 255, 0.4); padding:10px">
          <img src="/images/logo.png" style="border-radius:50%" ng-if="!isMobileDevice">
          <h2> {{collegeDetail.collegeName}} </h2>

        </div>
      </div>
    </div>
  </div>

  <div class="main-container">

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="col-sm-2 text-center color_g">
            <h1>{{collegeDetail.esta_year}}</h1>
            <p>Established Year</p>
          </div>
          <div class="col-sm-2 text-center color_y">
            <h1>10+</h1>
            <p>Departments</p>
          </div>
          <div class="col-sm-2 text-center color_b">
            <h1>880</h1>
            <p>Students</p>
          </div>
          <div class="col-sm-2 text-center color_p">
            <h1>20</h1>
            <p>Courses</p>
          </div>
          <div class="col-sm-2 text-center color_r">
            <h1>100+</h1>
            <p>Staff</p>
          </div>
          <div class="col-sm-2 text-center color_l">
            <h1>{{collegeDetail.collegeId}}</h1>
            <p>Institute Code</p>
          </div>
        </div>
      </div>
      <br>
      <div class="row">


        <div class="col-sm-9 page-content col-thin-right">
          <div class="inner inner-box ads-details-wrapper">
            <h2 ng-if="!isMobileDevice"> {{collegeDetail.collegeName}}</h2>
            <div class="color-border"></div>

            <div class="ads-image">
              <h1 class="pricetag">Established {{collegeDetail.esta_year}}</h1>
            <carousel interval="3000">
              <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <div class="carousel-caption">
                  <h4>Slide {{$index}}</h4>
                  <p>{{slide.text}}</p>
                </div>
              </slide>
            </carousel>
              <!-- <ul class="bxslider">
                <li>
                  <img src="/images/college/img1.jpg" alt="img" />
                </li>
                <li>
                  <img src="/images/college/img2.jpg" alt="img" />
                </li>
                <li>
                  <img src="/images/college/img3.jpg" alt="img" />
                </li>
              </ul> -->
              <!-- <div id="bx-pager">
                <a class="thumb-item-link" data-slide-index="0" href="#">
                  <img src="/images/college/img1.jpg" alt="img" />
                </a>
                <a class="thumb-item-link" data-slide-index="1" href="#">
                  <img src="/images/college/img2.jpg" alt="img" />
                </a>
                <a class="thumb-item-link" data-slide-index="2" href="#">
                  <img src="/images/college/img3.jpg" alt="img" />
                </a>
              </div> -->
            </div>

          </div>

          <div class="inner inner-box ads-details-wrapper">
            <div class="Ads-Details">
              <h2>Education Management  System</h2>
              <div class="color-border"></div>
              <div class="row">
                <div class="ads-details-info col-md-12">
                  <p>colleges are committed to provide value based quality education, maintaining pace with changing technology to produce competent and skilled professionals ready to accept global challenges. All the colleges have well equipped
                    infrastructure with full facilities to support students in their studies and give access to a wealth of materials, equipments and information.
                  </p>

                  <div class="col-md-12">
                    <aside class="panel panel-body panel-details col-md-8">
                      <BR>
                      <ul>
                        <li>
                          <p class=" no-margin ">
                            <strong>University:</strong>
                            Maharashtra State Board of Technical Education (MSBTE)
                          </p>
                        </li>
                        <li>
                          <p class="no-margin">
                            <strong>College type:</strong> Private/Self Financing
                          </p>
                        </li>
                        <li>
                          <p class="no-margin">
                            <strong>Management:</strong> Jayawant Shikshan Prasarak Mandal's Education Society
                          </p>
                        </li>
                        <li>
                          <p class=" no-margin ">
                            <strong>Accreditation:</strong> AICTE
                          </p>
                        </li>

                      </ul>
                    </aside>
                    <div class="ads-action col-md-4">
                      <ul class="list-border">
                        <li>
                          <a href="#">
                            <i class=" fa fa-user"></i> More ads by User
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class=" fa fa-heart"></i> Save ad
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fa fa-share-alt"></i> Share ad
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fa icon-info-circled-alt"></i> Report abuse
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <h4>Departments and Courses</h4>

                    <ul class="list-circle">
                      <li>Diploma in Computer Engineering</li>
                      <li>Diploma in Electronics & Telecommunication Engineering</li>
                      <li>Diploma in Information Technology</li>
                      <li>Diploma in Mechanical Engineering</li>
                      <li>Diploma in Civil Engineering</li>
                      <li>Diploma in Electrical Engineering</li>
                      <li>Diploma in Electronics & Telecommunication Engineering</li>
                      <li>Diploma in Information Technology</li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <h4>Facilities & Amenities</h4>

                    <ul class="list-circle">
                      <li>Audio Visual Aids Room</li>
                      <li>Canteen</li>
                      <li>Computer Lab</li>
                      <li>Internet</li>
                      <li>Laboratory</li>
                      <li>Language Lab</li>
                      <li>Library</li>
                      <li>Multimedia Lab</li>
                      <li>Reading Rooms</li>
                      <li>Transportation Facility</li>
                      <li>Workshop</li>
                    </ul>
                  </div>
                </div>
                <a href="#contactAdvertiser" class="btn   btn-default btn-lg">
                  <i class=" icon-mail-2"></i> Download PDF Brochure
                </a>

              </div>

            </div>
          </div>


        </div>
        <div class="col-sm-3  page-sidebar-right">
          <aside>
            <div class="panel sidebar-panel panel-contact-seller">
              <div class="panel-heading">Contact Details</div>
              <div class="panel-content user-info">
                <div class="panel-body text-center">
                  <div class="seller-info">
                    <h3 class="no-margin">&lt;Contact Person&gt;</h3>
                    <p>Website:
                      <strong><a ng-href="http://{{collegeDetail.website}}" target="_blank">{{collegeDetail.website}}</a></strong>
                    </p>
                    <p>Email:
                      <strong><a ng-href="mailto:{{collegeDetail.email}}">{{collegeDetail.email}}</a></strong>
                    </p>
                  </div>
                  <div class="user-ads-action">
                    <!-- <a href="#contactAdvertiser" data-toggle="modal" class="btn   btn-default btn-block">
                      <i class=" icon-mail-2"></i> Send a message
                    </a> -->
                    <a class="btn  btn-info btn-block">
                      <i class=" icon-phone-1"></i> {{collegeDetail.officePhone}}
                    </a>
                    <a  data-toggle="modal"  data-target="#contactrequest" class="btn   btn-warning btn-block">
                      <i class=" icon-mail-2"></i> Request for Contact
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="inner-box no-padding">
              <div class="inner-box-content">
                <a href="#">
                  <img alt="tv" src="/images/site/add2.png" class="img-responsive">
                </a>
              </div>
            </div>
            <div class="inner-box no-padding">
              <div class="inner-box-content">
                <a href="#">
                  <img alt="tv" src="/images/site/add4.jpg" class="img-responsive">
                </a>
              </div>
            </div>
            <div class="inner-box no-padding">
              <div class="inner-box-content">
                <a href="#">
                  <img alt="tv" src="/images/site/add3.jpg" class="img-responsive">
                </a>
              </div>
            </div>
          </aside>
        </div>
      </div>

      <div class="inner-box relative">
        <a class="facebook" ng-href="http://facebook.com"><i class="fa fa-facebook fa-3x"></i></a>
        <a class="twitter" ng-href="http://twitter.com"><i class="fa fa-twitter fa-3x"></i></a>
        <a class="youtube" ng-href="http://youtube.com"><i class="fa fa-youtube fa-3x"></i></a>

      </div>




      <div class="inner-box relative">
        <h2>Locate</h2>
        <div class="color-border"></div>
        <div class="row">
          <div class="col-lg-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d26081603.294420466!2d-95.677068!3d37.06250000000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1423809000824" width="100%" height="350" frameborder="0" style="border:0"></iframe>
          </div>
        </div>
      </div>


      <!-- <div class="inner-box relative">
        <h2>Featured Listings
          <a id="nextItem" class="link  pull-right carousel-nav">
            <i class="icon-right-open-big"></i>
          </a>
          <a id="prevItem" class="link pull-right carousel-nav">
            <i class="icon-left-open-big"></i>
          </a>
        </h2>
        <div class="color-border"></div>
        <div class="row">
          <div class="col-lg-12">
            <div class="no-margin item-carousel owl-carousel owl-theme">
              <div class="item">
                <a href="search.html">
                  <span class="item-carousel-thumb">
                    <img class="item-img" src="/images/college/abc.jpg" alt="img">
                  </span>
                  <span class="item-name"> Abasaheb Garware College </span>

                </a>
              </div>
              <div class="item">
                <a href="search.html">
                  <span class="item-carousel-thumb">
                    <img class="item-img" src="/images/college/fergusson.jpg" alt="img">
                  </span>
                  <span class="item-name"> Fergusson College </span>

                </a>
              </div>
              <div class="item">
                <a href="search.html">
                  <span class="item-carousel-thumb">
                    <img class="img-responsive" src="/images/college/jspm.jpg" alt="img">
                  </span>
                  <span class="item-name"> Jayawant Shikshan Prasarak Mandal </span>

                </a>
              </div>
              <div class="item">
                <a href="search.html">
                  <span class="item-carousel-thumb">
                    <img class="item-img" src="/images/college/dypatil.jpg" alt="img">
                  </span>
                  <span class="item-name"> Dr. D.Y. Patil Vidyapeeth, Pune </span>

                </a>
              </div>
              <div class="item">
                <a href="search.html">
                  <span class="item-carousel-thumb">
                    <img class="item-img" src="/images/college/coep.jpg" alt="img">
                  </span>
                  <span class="item-name"> College of Engineering, Pune </span>

                </a>
              </div>
            </div>
          </div>
        </div>
      </div> -->
       <!-- Modal -->
  <div class="modal fade" id="contactrequest" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Contact Information</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input id="fullname" name="name" type="text" placeholder="Full Name" class="form-control" ng-model="name">
          </div>
          <div class="form-group">
            <input id="email" name="email" type="text" placeholder="Email Address" class="form-control" ng-model="email">
          </div>
          <div class="form-group">
            <input id="mobile no" name="mobile" type="text" placeholder="Mobile Number" class="form-control" ng-model="mobile">
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success">submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

    </div>
  </div>
</div>
