<div class="about-us">
  <div class="container text-center">
   <div class="main-container inner-page">
    <div class="container">
      <div class="section-content">
        <div class="row ">
          	   <div class="text-content has-lead-para text-left">
            
  <iframe width="100%" height="500px" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select+col4+from+1xFD4rR0bqugzvYyLAoqoiWmxcitET3shFmnXkjgw&amp;viz=MAP&amp;h=false&amp;lat=20.218023630501527&amp;lng=77.18670885896678&amp;t=1&amp;z=6&amp;l=col4&amp;y=2&amp;tmplt=2&amp;hml=GEOCODABLE"></iframe>
	  </div>
	</div>
  </div>
</div>
	 </div>
 </div>
 </div>
</div>

