<div class="modal-header" ng-click="close()">
  <h3 class="modal-title"></h3>
  <span class="glyphicon glyphicon-remove"
    style="float:right"></span>
</div>
<div class="modal-body">
  <div>
    <a ng-href="https://www.facebook.com/cutoffsearch" target="_blank">
      <img ng-src="images/like_us.png" style="height: 79px;"  />
    </a>
  </div>
  <div><hr/></div>
  <div>
    <a ng-href="https://play.google.com/store/apps/details?id=com.gestalt.cutoffSearch&hl=en" target="_blank">
      <img ng-src="images/Get-it-on-google-play.png" style="height: 79px;" />
    </a>
  </div>
</div>
