<div class="home-page">
  <div class="intro">
    <div class="dtable hw100">
      <div class="dtable-cell hw100">
        <div class="container text-center">
          <!-- <h1 class="intro-title animated fadeInDown"> Cutoff Search Colleges</h1> -->
          <p class="sub animateme fittext3 animated fadeIn">Explore colleges to redefine your career in Pune</p>
          <div class="row search-row animated fadeInUp">
            <div class="col-lg-3 col-sm-3 search-col relative locationicon">
              <i class="icon-location-2 icon-append"></i>
              <input type="text" name="country" id="autocomplete-ajax" class="form-control locinput input-rel searchtag-input has-icon" placeholder="City..." value="">
            </div>
            <div class="col-lg-3 col-sm-3 search-col relative">
              <i class="icon-docs icon-append"></i>
              <input type="text" name="ads" id="autocomplete-ajax1" class="form-control locinput input-rel searchtag-input has-icon" placeholder="I'm looking Branches..." value="">
            </div>
            <div class="col-lg-3 col-sm-3 search-col relative">
              <i class="icon-docs icon-append"></i>

              <select class="form-control selecter  has-icon">

                <option>Poly</option>
                <option>BE-BTech</option>
                <option>ME-MTech</option>
                <option>MBA</option>
                <option>MCA</option>
                <option>B.Pharmsy</option>
              </select>
            </div>
            <div class="col-lg-3 col-sm-3 search-col">
              <button class="btn btn-primary btn-search btn-block" ng-click="find()">
                <i class="fa fa-search"></i>
                <strong>Find</strong>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-container">
    <div class="container">
      <div class="row">
        <div class="col-sm-9 page-content col-thin-right">
          <div class="inner-box category-content">
            <h2>Welcome to Cutoffsearch Web Portal </h2>
            <div class="color-border"></div>
            <div class="row">
              <div class="col-md-12 ">
                <p>Gestalt IT Consultancy Pvt. Ltd. is working with public and private clients to transform the quality of global education, good governance and skills development. Everything we do is focused on making a tangible difference in the lives of
                  learners, communities and nations, enabling students of all ages to be prepared to succeed in an increasingly competitive world.</p>

                <p>After 10 or 10+2 board exams and after graduation most of the students are worried about choosing right career path and in the same process, one of the major concerns of every student/parent is about getting admission in the right institute
                  for further studies. Due to heavy competition and centralized admission process, while filling application form student need to be very alert with providing information.</p>

                <p>Our intensive research suggests following complexities are faced by students -</p>
                <ul>
                  <li>Selection of Branch i.e. "Which is suitable branch for me?</li>
                  <li>Matching Marks with Fitting Institution i.e. "Which is the suitable institution matching with my marks?</li>
                  <li>What was the last year’s cut-off mark?</li>
                  <li>Availability of Institutions and their branches in Maharashtra State.</li>
                </ul>
                <br>

                <p>To provide solution, Gestalt IT Consultancy Pvt Ltd, Pune has launched this innovative web based portal for student.</p>

                <p>The portal provides information on following indicators -</p>
                <ul>
                  <li>Institute-wise cut-off list</li>
                  <li>Branches</li>
                  <li>List of all Engineering, Polytechnic colleges in Maharashtra state and information about yearly cut-off marks.</li>
                </ul>
                <br>

                <p>This portal is useful for all the students who are willing to take admission in Engineering (First Year as well as Direct Second Year), or Polytechnic college.</p>

              </div>


            </div>


          </div>
          <div class="inner-box category-content">
            <h2>About Us </h2>
            <div class="color-border"></div>
            <div class="row">
              <div class="col-md-4 col-sm-4">
                <iframe width="100%" src="https://www.youtube.com/embed/wabTLwy1zSk" frameborder="0" allowfullscreen></iframe>
              </div>
              <div class="col-md-4 col-sm-4">
                <iframe width="100%" src="https://www.youtube.com/embed/G7HejPG--kE" frameborder="0" allowfullscreen></iframe>
              </div>
              <div class="col-md-4 col-sm-4">
                <iframe width="100%" src="https://www.youtube.com/embed/r3iTVIkuK4Y" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>

        </div>
        <div class="col-sm-3 page-sidebar col-thin-left">
          <aside>
            <div class="inner-box no-padding">
              <div class="inner-box-content">
                <a href="#">
                  <img class="img-responsive" src="images/site/app.jpg" alt="tv">
                </a>
              </div>
            </div>
            <div class="inner-box no-padding">
              <img class="img-responsive" src="images/add2.jpg" alt="">
            </div>
            <div class="inner-box">
              <h2>Events </h2>
              <div class="color-border"></div>
              <div class="inner-box-content">


                <ul class="cat-list arrow">
                  <li>
                    <a href="#"> Apparel (1,386) </a>
                  </li>
                  <li>
                    <a href="#"> Art (1,163) </a>
                  </li>
                  <li>
                    <a href="#"> Business Opportunities (4,974) </a>
                  </li>
                  <li>
                    <a href="#"> Community and Events (1,258) </a>
                  </li>

                  <li>
                    <a href="#"> Jobs and Employment (3,609) </a>
                  </li>
                  <li>
                    <a href="#"> Art (1,163) </a>
                  </li>
                </ul>
              </div>
            </div>

          </aside>
        </div>
      </div>

      <div class="inner-box relative">
        <h2>Featured Listings
          <a id="nextItem" class="link  pull-right carousel-nav">
            <i class="icon-right-open-big"></i>
          </a>
          <a id="prevItem" class="link pull-right carousel-nav">
            <i class="icon-left-open-big"></i>
            </a>
        </h2>
        <div class="color-border"></div>
        <div class="row">
          <div class="col-lg-12">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 page-content col-thin-right">
          <div class="inner-box category-content">
            <h2>Media Coverage</h2>
            <div class="color-border"></div>
            <div class="row">
              <div class="col-md-12">
                <p>Maharashtra Times :<a class="ng-scope" target="_blank" href="http://epaperbeta.timesofindia.com//Article.aspx?eid=31835&articlexml=21062014008016"> News : "CutOff on click" - 21 June 2014 </a>
                </p>
                <br>
                <p>Sakal Aurangabad :<a href="http://epaper2.esakal.com/17Jun2014/Enlarge/Aurangabad/AurangabadToday/page7.htm" target="_blank"> News: "CutOffSearch Information" - 17 June 2014 </a>
                </p>
                <br>
                <p>Sakal Latur :<a href="images/sakal-add.jpg" target="_blank"> News: "CutOffSearch Website Created" </a>
                  <p>
                    </br>
                    <p>Divya Marathi :<a href="images/divyamarathi-add.jpg" target="_blank"> News: "CutOffSearch and Admission Info" </a>
                    </p>
                    </br>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4 page-content col-thin-right">
          <div class="inner-box category-content">
            <h2>Facebook </h2>
            <div class="color-border"></div>
            <!--<cs-facebook-dir></cs-facebook-dir>-->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-info" style="background: url(images/login.jpg); background-size:cover">
    <div class="container text-center section-promo">
      <div class="row">
      </div>
    </div>
  </div>
  <br>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="panel sidebar-panel">
          <div class="panel-heading uppercase"><small><strong>ENGINEERING</strong></small>
          </div>
          <div class="panel-content">
            <div class="panel-body text-left">
              <ul class="list-check">
                <li>361 Colleges</li>
                <li>2,017 Courses</li>
                <li>23,967 Cutoffs</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel sidebar-panel">
          <div class="panel-heading uppercase"><small><strong>POLYTECHNIC </strong></small>
          </div>
          <div class="panel-content">
            <div class="panel-body text-left">
              <ul class="list-check">
                <li>408 Colleges</li>
                <li>2,067 Courses</li>
                <li>34,931 Cutoffs</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel sidebar-panel">
          <div class="panel-heading uppercase"><small><strong>DIRECT ENG II </strong></small>
          </div>
          <div class="panel-content">
            <div class="panel-body text-left">
              <ul class="list-check">
                <li>360 Colleges</li>
                <li>2,062 Courses</li>
                <li>28,275 Cutoffs</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel sidebar-panel">
          <div class="panel-heading uppercase"><small><strong>Total</strong></small>
          </div>
          <div class="panel-content">
            <div class="panel-body text-left">
              <ul class="list-check">
                <li>1168 Percentiles</li>
                <li>35 Districts</li>
                <li>11 Universities</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
