<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-md-8 page-content">
        <div class="inner-box category-content">
          <h2 class="title-2">
            <i class="fa fa-user-plus"></i> Create your account, Its free
          </h2>
          <div class="row">
            <div class="col-sm-12">
              <form name="registerForm" class="form-horizontal" novalidate ng-submit="submit()">
                <fieldset>

                  <div class="form-group required">
                    <label class="col-md-4 control-label">You are a
                      <sup>*</sup>
                    </label>
                    <div class="col-md-6">
                      <div class="radio">
                        <label>
                          <input type="radio" name="optionsRadios" id="optionsRadios1" ng-model="user.userType" value="S">Student
                        </label>
                      </div>
                      <div class="radio">
                        <label>
                          <input type="radio" name="optionsRadios" id="optionsRadios2" ng-model="user.userType" value="P">Parents
                        </label>
                      </div>
                      <div class="radio">
                        <label>
                          <input type="radio" name="optionsRadios" id="optionsRadios3" ng-model="user.userType" value="I">Professional (College, Institute etc)
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="form-group required" ng-show="user.userType == 'S' || user.userType == 'P'" ng-class="{'has-error': registerForm.firstName.$touched && registerForm.firstName.$error.required}">
                    <label class="col-md-4 control-label">First Name
                      <sup>*</sup>
                    </label>
                    <div class="col-md-6">
                      <input name="firstName" placeholder="First Name" class="form-control input-md" required type="text" ng-model="user.firstName">
                    </div>
                  </div>

                  <div class="form-group required" ng-show="user.userType == 'S' || user.userType == 'P'" ng-class="{'has-error': registerForm.lastName.$touched && registerForm.lastName.$error.required}">
                    <label class="col-md-4 control-label">Last Name
                      <sup>*</sup>
                    </label>
                    <div class="col-md-6">
                      <input name="lastName" placeholder="Last Name" class="form-control input-md" required type="text" ng-model="user.lastName">
                    </div>
                  </div>

                  <div class="form-group required" ng-show="user.userType == 'I'" ng-class="{'has-error': registerForm.instituteName.$touched && registerForm.instituteName.$error.required}">
                    <label class="col-md-4 control-label">Institute Name
                      <sup>*</sup>
                    </label>
                    <div class="col-md-6">
                      <input name="instituteName" placeholder="Institute Name" class="form-control input-md" required="" type="text" ng-model="user.firstName">
                    </div>
                  </div>

                  <div class="form-group required" ng-show="user.userType == 'I'" ng-class="{'has-error': registerForm.contactName.$touched && registerForm.contactName.$error.required}">
                    <label class="col-md-4 control-label">Contact Person Name
                      <sup>*</sup>
                    </label>
                    <div class="col-md-6">
                      <input name="contactName" placeholder="Contact Person Name" class="form-control input-md" type="text" ng-model="user.lastName" required>
                    </div>
                  </div>

                  <div class="form-group required" ng-class="{'has-error': registerForm.phoneNumber.$touched && registerForm.phoneNumber.$error.required}">
                    <label class="col-md-4 control-label">Phone Number
                      <sup>*</sup>
                    </label>
                    <div class="col-md-6">
                      <input name="phoneNumber" placeholder="Phone Number" class="form-control input-md" type="text" ng-model="user.phone" required>
                      <div class="checkbox">
                        <label>
                          <span class="help-block">OTP will be sent on this number.</span>
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="form-group" ng-show="user.userType == 'S' || user.userType == 'P'">
                    <label class="col-md-4 control-label">Gender</label>
                    <div class="col-md-6">
                      <div class="radio">
                        <label for="Gender-0">
                          <input name="Gender" id="Gender-0" ng-model="user.gender" value="M" type="radio">Male
                        </label>
                      </div>
                      <div class="radio">
                        <label for="Gender-1">
                          <input name="Gender" id="Gender-1" type="radio" ng-model="user.gender" value="F">Female
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="form-group required" ng-class="{'has-error': registerForm.userDistrict.$touched && registerForm.userDistrict.$error.required}">
                    <label class="col-md-4 control-label" for="textarea">District <sup>*</sup>
                    </label>
                    <div class="col-md-6">
                      <div class="input-group">

                        <select name="userDistrict" class="form-control" ng-model="user.district" required>
                          <option value="">Select District...</option>
                          <option value="Ahmednagar">Ahmednagar</option>
                          <option value="Akola">Akola</option>
                          <option value="Amravati">Amravati</option>
                          <option value="Akola">Aurangabad</option>
                          <option value="Beed">Beed</option>
                          <option value="Bhandara">Bhandara</option>
                          <option value="Buldhana">Buldhana</option>
                          <option value="Chandrapur">Chandrapur</option>
                          <option value="Dhule">Dhule</option>
                          <option value="Gadchiroli">Gadchiroli</option>
                          <option value="Gondiya">Gondiya</option>
                          <option value="Hingoli">Hingoli</option>
                          <option value="Jalgaon">Jalgaon</option>
                          <option value="Jalna">Jalna</option>
                          <option value="Kolhapur">Kolhapur</option>
                          <option value="Latur">Latur</option>
                          <option value="Mumbai-City">Mumbai-City</option>
                          <option value="Mumbai-Suburban">Mumbai-Suburban</option>
                          <option value="Nagpur">Nagpur</option>
                          <option value="Nanded">Nanded</option>
                          <option value="Nandurbar">Nandurbar</option>
                          <option value="Nashik">Nashik</option>
                          <option value="Osmanabad">Osmanabad</option>
                          <option value="Palghar">Palghar</option>
                          <option value="Parbhani">Parbhani</option>
                          <option value="Pune">Pune</option>
                          <option value="Raigad">Raigad</option>
                          <option value="Ratnagiri">Ratnagiri</option>
                          <option value="Sangli">Sangli</option>
                          <option value="Satara">Satara</option>
                          <option value="Silvassa">Silvassa</option>
                          <option value="Sindhudurg">Sindhudurg</option>
                          <option value="Solapur">Solapur</option>
                          <option value="Thane">Thane</option>
                          <option value="Wardha">Wardha</option>
                          <option value="Washim">Washim</option>
                          <option value="Yavatmal">Yavatmal</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-4 control-label" for="textarea">About Yourself</label>
                    <div class="col-md-6">
                      <div class="input-group">

                        <textarea class="form-control" id="textarea" name="textarea" ng-model="user.aboutMe">About Yourself</textarea>
                      </div>
                    </div>
                  </div>

                  <div class="form-group required" ng-class="{'has-error': registerForm.email.$touched && registerForm.email.$error.required}">
                    <label for="inputEmail3" class="col-md-4 control-label">Email
                      <sup>*</sup>
                    </label>
                    <div class="col-md-6">
                      <input type="email" class="form-control" name="email" placeholder="Email" ng-model="user.email" required ui-validate={blacklist : 'notBlackListed($value)' }>
                    </div>
                  </div>

                  <div class="form-group required" ng-class="{'has-error': registerForm.password.$touched && registerForm.password.$error.required}">
                    <label for="inputPassword3" class="col-md-4 control-label">Password
                      <sup>*</sup>
                    </label>
                    <div class="col-md-6">
                      <div class="input-group">
                        <input type="password" class="form-control" name="password" placeholder="Password" ng-model="user.password" required>
                        <span class="input-group-addon">
                          <i class="fa fa-lock"></i>
                        </span>

                      </div>
                      <span class="help-block">At least 5 characters</span>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-8">
                      <div class="termbox mb10">
                        <label class="checkbox-inline" for="checkboxes-1">
                          <input name="checkboxes" type="checkbox" ng-model="acceptTerms">I have read and agree to the
                          <a href="#">Terms & Conditions</a>
                        </label>
                      </div>
                      <div style="clear:both"></div>
                      <input type="submit" value="Register" class="btn btn-primary" href ng-disabled="registerForm.$invalid"/>
                      {{registerForm.$valid}}
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 reg-sidebar">
        <div class="reg-sidebar-inner text-center">
          <div class="promo-text-box">
            <i class="fa fa-4x fa-picture-o icon-color-1"></i>
            <h3>
              <strong>Post a Free Classified</strong>
            </h3>
            <p>Post your free online classified ads with us. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
          <div class="promo-text-box">
            <i class="fa fa-4x fa-pencil-square-o icon-color-2"></i>
            <h3>
              <strong>Create and Manage Items</strong>
            </h3>
            <p>Nam sit amet dui vel orci venenatis ullamcorper eget in lacus. Praesent tristique elit pharetra magna efficitur laoreet.</p>
          </div>
          <div class="promo-text-box">
            <i class="fa fa-4x fa-heart icon-color-3"></i>
            <h3>
                <strong>Create your Favorite ads list.</strong>
              </h3>
            <p>PostNullam quis orci ut ipsum mollis malesuada varius eget metus. Nulla aliquet dui sed quam iaculis, ut finibus massa tincidunt.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
